@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:wght@100;500&display=swap');
:root {
    --main-bg-color: brown;
    --font1: 'Baloo Bhaina 2', cursive;
    --font2:'Roboto', sans-serif;
  }
  
.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}

.btn{
    padding: 0px 20px;
    border: 2px solid black;
    border-radius: 7px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all .3 ease-in-out;
}

.btn:hover{
    background-color: var(--main-bg-color);
    color: white;
}

.form-input{
    padding-top: 3px;
    padding:0px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}